/*1. Animate css, 2. Smartmenus css, 3. Slick css, 4. Reset css, 5. Core css, 6. custom css*/
/* =================animate css starts here================= */
.animated{-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
@-webkit-keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}
@keyframes fadeIn{from{opacity: 0;}to{opacity: 1;}}
.fadeIn{-webkit-animation-name:fadeIn; animation-name: fadeIn;}
@-webkit-keyframes fadeInUp{from{opacity: 0;-webkit-transform: translate3d(0, 30px, 0);transform: translate3d(0, 30px, 0);} to{opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
@keyframes fadeInUp{from{opacity: 0; -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 30px, 0);} to{opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}}
.fadeInUp{-webkit-animation-name: fadeInUp;animation-name: fadeInUp;}
/* =================animate css ends here================= */
/* =================smartmenus css start here================= */
.navbar-nav.sm-collapsible .sub-arrow{position: absolute;	top: 50%; right: 0; margin: -0.7em 0.5em 0 0; border: 1px solid rgba(0, 0, 0, .1); border-radius: .25rem; padding: 0; width: 2em; height: 1.4em; font-size: 1.25rem; line-height: 1.2em; text-align: center;}
.navbar-nav.sm-collapsible .sub-arrow::before{content: '+';}
.navbar-nav.sm-collapsible .show > a > .sub-arrow::before{content: '-';}
.navbar-dark .navbar-nav.sm-collapsible .nav-link .sub-arrow{border-color: rgba(255, 255, 255, .1);}
.navbar-nav.sm-collapsible .has-submenu{padding-right: 3em;}
.navbar-nav.sm-collapsible .nav-link,.navbar-nav.sm-collapsible .dropdown-item{position: relative;}
.navbar-nav:not(.sm-collapsible) .nav-link .sub-arrow{display: inline-block;width: 0; height: 0;margin-left: .255em; vertical-align: .255em; border-top: .3em solid; border-right: .3em solid transparent; border-left: .3em solid transparent;}
.fixed-bottom .navbar-nav:not(.sm-collapsible) .nav-link .sub-arrow, .fixed-bottom .navbar-nav:not(.sm-collapsible):not([data-sm-skip]) .dropdown-toggle::after{border-top: 0; border-bottom: .3em solid;}
.navbar-nav:not(.sm-collapsible) .dropdown-item .sub-arrow,.navbar-nav:not(.sm-collapsible):not([data-sm-skip]) .dropdown-menu .dropdown-toggle::after{position: absolute; top: 50%; right: 0; width: 0; height: 0; margin-top: -.3em; margin-right: 1em; border-top: .3em solid transparent; border-bottom: .3em solid transparent; border-left: .3em solid;}
.navbar-nav:not(.sm-collapsible) .dropdown-item.has-submenu {padding-right: 2em;}
.navbar-nav .scroll-up, .navbar-nav .scroll-down{position: absolute; display: none; visibility: hidden; height: 20px; overflow: hidden; text-align: center;}
.navbar-nav .scroll-up-arrow, .navbar-nav .scroll-down-arrow{position: absolute; top: -2px; left: 50%; margin-left: -8px; width: 0; height: 0; overflow: hidden; border-top: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid; border-left: 7px solid transparent;}
.navbar-nav .scroll-down-arrow {top: 6px; border-top: 7px solid; border-right: 7px solid transparent; border-bottom: 7px solid transparent; border-left: 7px solid transparent;}
.navbar-nav.sm-collapsible .dropdown-menu .dropdown-menu {margin: .5em;}
.navbar-nav:not([data-sm-skip]) .dropdown-item{white-space: normal;}
.navbar-nav:not(.sm-collapsible) .sm-nowrap > li > .dropdown-item{white-space: nowrap;}
/* =================smartmenus css ends here================= */
/* =================slick css ends here================= */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
.slick-slide img{display:block; width: 100%}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}
.slick-loading .slick-list{background:#fff url('../images/ajax-loader.gif') center center no-repeat;}
.slick-prev, .slick-next {z-index:99;font-size: 0;line-height: 0;position: absolute;top: 50%;display: block;float: left;padding: 0;margin-top: -25px\9; /*lte IE 8*/-webkit-transform: translate(0, -50%);-ms-transform: translate(0, -50%);transform: translate(0, -50%);cursor: pointer;color: transparent;border: none;outline: none;background: transparent;width: 62px;height: 63px;}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { color: transparent; outline: none; background: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: .3; }
.slick-prev:before, .slick-next:before {font-family: 'font Awesome 5 Free';font-weight: 900;font-size: 50px;line-height: 1;opacity: 0.9;color: #fff; text-shadow:0 5px 5px rgba(0,0,0,0.2);-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;background: transparent; border-radius: 50%;display: inline-block;padding: 0;}
.slick-prev {left: 15px;}
.slick-prev:before { content: "\f053"; }
.slick-next {right: 15px;}
.slick-next:before { content: "\f054"; }
.slick-slider {margin-bottom: 0; padding-bottom: 45px;}
.slick-dots {position: absolute;bottom: 0;display: block;width: 100%;padding: 0;list-style: none;text-align: center;vertical-align: top;}
.slick-dots li {position: relative;display: inline-block; margin: 0 0px;padding: 0;text-align:center;cursor: pointer;vertical-align: top;}
.slick-dots li button {font-size: 0;line-height: 0;display: inline-block;width: 15px;height: 15px;padding: 0;cursor: pointer;color: transparent;border: 0;outline: none;background:transparent;opacity: 1;border:solid 1px #000;border-radius: 50%;vertical-align: top;margin: 5px 6px;}
.slick-dots li.slick-active button, .slick-dots li:hover button{opacity:1; background-color: #000;}
.white-dots .slick-dots li button {border-color:#fff; background: #fff; opacity: 0.4;}
.white-dots  .slick-dots li.slick-active button, .white-dots  .slick-dots li:hover button{ background-color: #fff; opacity: 1;}
/* =================slick css end here=================  */
/* =================reset css starts here=================  */
* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, ul, li, body, html, form, fieldset { margin: 0; padding: 0; outline: none; border: 0 }
a { text-decoration: none; border: 0; outline: 0; }
ul {list-style: none;}
a:focus, input:focus, textarea:focus, *:focus { outline: 0 !important; }

/* =================reset css ends here================= */

/* =================core css starts here================= */
body { padding-top:100px; font-size: 14px; line-height: 22px; font-weight: 400;font-family: 'Work Sans', sans-serif;color: #5a6e79; background: #fff9f3; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.container { width: 100%; max-width: 1173px; }
a, input, button { display: inline-block; text-decoration: none; color: inherit; outline: none; transition: all 0.2s ease-in;  -webkit-transition: all 0.2s ease-in; }
a img {border: 0px none;}
a:hover { outline: none; color: #f00; text-decoration: none; }
a:active { outline: none; text-decoration: none; }
a:focus { outline: none; outline-offset: 0px; text-decoration: none; color: inherit; }
::-webkit-input-placeholder { color: #000; opacity: 0.5; }
::-moz-placeholder { color: #000; opacity: 0.5; }
:-moz-placeholder { color: #000; opacity: 0.5; }
:-ms-input-placeholder { color: #000; opacity: 0.5; }
.os-animation {opacity: 0;}
.os-animation.animated {opacity: 1;}
img {max-width: 100%; border:0; height: auto;}
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; margin-bottom: 24px; line-height: 1.2; font-weight: 700; color: inherit;font-family: 'Montserrat', sans-serif;}
h1 {font-size: 58px;}
h2 {font-size: 48px;}
h3 {font-size: 40px;}
h4 {font-size: 30px;}
h5 {font-size: 26px;}
h6 {font-size: 22px;}
p {margin: 0px; padding: 0px; margin-bottom: 24px; }
strong {font-weight: 700;}
b {font-weight: 400;}
p:last-child {margin-bottom: 0;}
.btn {border-radius: 25px;font-weight: 700;padding: 10px 15px;min-width: 140px;font-size: 16px;line-height: 18px;box-shadow: none; transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;}
.btn-default,.btn-default:focus{color:#ffc178;background-color:#fff;border:#fff;}
.btn-default:hover,.btn-default:active{color:#fff;background-color:#ffc178;border-color:#ffc178;;}
.btn-primary,.btn-primary:focus { color: #fff; background-color: #333; border: solid 1px #333; }
.btn-primary:hover,.btn-primary:active { color: #333; background-color: transparent; border-color: #333; }
.btn.btn-block{min-width: 100%;}
.btn+.btn {margin-left: 25px;}
ul:not([class]) {list-style: none;margin-bottom: 15px;text-align:left;line-height: 22px;}
ul:not([class]) > li {padding-left: 16px;position: relative;margin-bottom: 14px;}
ul:not([class]) > li:last-child{margin-bottom: 0;}
ul:not([class]) > li:before {content: '';position: absolute;left: 2px;top:10px;background: #000;height: 5px;width: 5px; border-radius: 50%;}
.grey-bg{background: #f5f5f5;}
/* =================core css ends here================= */
/* ================= Header Start ================= */
#header{color: #333;background: transparent;position: fixed;left: 0;top: 0;right: 0;padding: 0;z-index: 9999;transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;display: flex;align-items: center;}
.fixed #header{background: #fff; box-shadow: 0 5px 8px rgba(0,0,0,0.1);}
.navbar{padding: 0; width: 100%; height: 125px;} 
.navbar-brand { width: 90px; padding: 0; margin: 0; position: relative; z-index: 999;}
.navbar-expand-xl .navbar-nav .nav-item{margin: 0 23px;}
.navbar-expand-xl .navbar-nav .nav-link{font-size:16px;font-weight:400;color:#333; padding: 0;margin:0;}
.navbar-expand-xl .navbar-nav .nav-item:hover .nav-link, .navbar-expand-xl .navbar-nav .nav-item.active .nav-link{color:#ffc178;font-weight: 700;}
 .navbar-expand-xl .navbar-nav .nav-item.active{display: inline-block; position: relative;}
  .navbar-expand-xl .navbar-nav .nav-item.active:before{content:"";width:100%;height:1px;position: absolute;left:0;bottom: 0;background:#ffc178;}
.dropdown-toggle::after{display:none;}
.navbar-nav:not(.sm-collapsible) .nav-link .sub-arrow{display:none;}
.nav-inside{width: 100%;padding: 0;}
.header-right{margin-left: 15px;}
.nav-inside-content{padding: 30px 0;}
@media only screen and (min-width: 1200px) {
.navbar-nav>li>.dropdown-menu { display: block !important; top: 100% !important; margin-top: 10px !important; opacity: 0; visibility: hidden; background: #f00; color: #fff;   min-width: 180px; box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2); border: 0; border-radius: 0; transition: all 0.1s ease-in; -moz-transition: all 0.1s ease-in; -webkit-transition: all 0.1s ease-in; }
.dropdown:hover .dropdown-menu { opacity: 1; visibility: visible; margin-top: 0px !important; transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -webkit-transition: all 0.2s ease-in; }
.dropdown-item { color: #fff; padding: 5px 15px;  font-weight: 400;}
.dropdown-item:focus, .dropdown-item:hover{color:#333; background: transparent;}
} 
.navbar-toggler {width: 45px;height: 45px;border-radius: 0;cursor: pointer;text-decoration: none;padding: 0;border: 0;background: transparent;margin: 0;position: absolute;top: 0;right: 0;}
.navbar-default .navbar-toggler:hover, .navbar-default .navbar-toggler:focus {background: transparent;}
.navbar-toggler:not([class="collapsed"]), .navbar-toggler:not([class="collapsed"]):focus, .navbar-toggler:not([class="collapsed"]):hover {background: transparent;}
.navbar-toggler.collapsed, .navbar-toggler.collapsed:focus, .navbar-toggler.collapsed:hover {background: transparent;}
.navbar-toggler .icon-bar {position: relative;display: inline-block;width: 22px;height: 4px;color: #243238;text-indent: -55px;margin-top: 0;background: transparent!important;transition: all .2s ease-out;-webkit-transition: all .2s ease-out;vertical-align: middle;}
.navbar-toggler .icon-bar:before, .navbar-toggler .icon-bar:after {content: '';width: 22px;height: 4px;background: #005983;position: absolute;left: 0;transition: all .2s ease-out;}
.navbar-toggler.collapsed .icon-bar {background: #005983!important;}
.navbar-toggler.collapsed .icon-bar:before, .navbar-toggler.collapsed .icon-bar:after {background: #005983;}
.navbar-toggler.collapsed .icon-bar:before {top: -8px;-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform: rotateZ(0deg);}
.navbar-toggler .icon-bar:before { top: 0; -webkit-transform: rotateZ(45deg); -moz-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); -o-transform: rotateZ(45deg); transform: rotateZ(45deg); }
.navbar-toggler.collapsed .icon-bar:after {bottom: -8px;-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform: rotateZ(0deg);}
.navbar-toggler .icon-bar:after { bottom: 0; -webkit-transform: rotateZ(-45deg); -moz-transform: rotateZ(-45deg); -ms-transform: rotateZ(-45deg); -o-transform: rotateZ(-45deg); transform: rotateZ(-45deg); }

/* ================= Header End ================= */
.heading{max-width: 600px; margin:0 auto;margin-bottom: 68px;}
.heading h2{font-size: 38px;color:#252c3a;font-family: 'Work Sans', sans-serif;margin-bottom: 15px;letter-spacing: 1px;}
.heading p{font-size: 16px;line-height: 24px;color:#5a6e79; letter-spacing: 0px;}
.card-list{width:calc(100% + 30px);margin-left:-15px;}
.card-item{width:33.33%;padding:0 15px;}
.card-box img{width:265px;}
.card-box{color:#fff;}
.bg-1{background:#f9703a;}
.bg-2{background:#80be41;}
.bg-3{background:#ffb258;}
.card-box{padding:50px 0 74px 0;height:100%;}
.card-box h6{margin-bottom:0;font-size:28px;}
/* ================= Footer Start ================= */
footer{font-family: 'Roboto', sans-serif;}
.footer-upper{background:#252c3a;padding:79px 0 105px 0;}
.footer-upper h6{font-size:13px;text-transform:uppercase;color:#fff;margin-bottom: 42px;}
.footer-upper p{color:#969595;}
.footer-upper span{color:#6b6b6b;}
.footer-logo{margin-bottom: 20px;}
.partition{width:100%;height:1px;background:#fff;opacity: 0.2;margin:10px 0;}
.social-list{} 
.footer-search{position: relative;}
.btn-search.btn{border-radius:0;padding:10px 15px;min-width:80px;background:#ffc178;position:absolute;top:50%;transform:translateY(-50%);right:0;height:100%;}
.footer-lower{background:#1d232e;padding:20px 0;}
a.footer-link{padding:0 6px;}
a.social-link{font-size:20px;color:#4a4a4a;}
.social-item.active .social-link {color:#0089fd;}
.footer-upper .form-control {border-radius: 0;font-size:13px;}
.copyright{font-size:13px;}
li.social-item{padding:7px;}
/* ================= Footer End ================= */
.content-container.grid-container{padding:75px 0 102px 0;}
.grid-list{width:calc(100% + 30px); margin-left:-15px;margin-bottom: -38px;}
.grid-item{width:25%;padding: 0 15px;margin-bottom: 38px;}
.grid-item:first-child  .grid-text h6{color:#ffc178;text-decoration: underline;}
.grid-img{width:100%;}
.grid-img img{width:100%;height:100%;object-fit:cover;}
.grid-container h3{color:#252c3a;margin-bottom:95px;font-size:40px;}
.grid-box { background: #fff;height:100%;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
.grid-text{padding:11px;}
.grid-text h6{font-size:16px;font-family:'Work Sans',sans-serif;letter-spacing:0.4px;line-height:25px;margin-bottom:0;}
.grid-text p{letter-spacing:-0.5px;font-size:12px;}
.grid-btn{padding:13px;}

/* ================= Content Start ================= */
.content-container.media-container{padding:52px 0;}
.media-img{width:50%;padding-left:35px;padding-top:30px;position: relative;}
.media-img-inner{height:445px;width:445px;border-radius:50%;overflow:hidden;position:relative;}
.media-img-inner:before{content:"";width:96px;height:96px;position:absolute;left:50%;top:50%;cursor:pointer;background-image:url(../images/play-icon.png);background-position:center;background-repeat:no-repeat;transform:translate(-50%,-50%);background-size:cover;}
.media-img:before{content:"";width:370px;height:370px;position:absolute;left:-168px;top:36px;background-repeat:no-repeat;background-size:cover;background-position:center;background-image:url(../images/media-icon.png);}
.media-content{width:50%;padding-left:12px;}
.media-content h4{font-size:40px;font-family:'Montserrat',sans-serif;color:#252c3a;font-weight:700;margin-bottom:25px;line-height: 57px;}
.media-content p{font-size:18px;letter-spacing:0px;line-height:26px;margin-bottom:31px;}
.media-content small{font-size:17px;line-height:25px;margin-bottom:60px;display:inline-block; letter-spacing: -0.4px;}
li.media-content-item{width:33.33%;}
.media-content-box{font-size:40px;font-weight:700;line-height:30px;font-family:'Montserrat',sans-serif;}
.media-content-box span{display:block;font-size:22px;font-weight:300;}
.media-img img{height:100%;width:100%;object-fit:cover;}
.box-1{color:#ffba00;}
.box-2{color:#ff5f72;}
.box-3{color:#43cb83;}
.content-container{padding: 60px 0;} 
/* ================= Content End ================= */
.hero-outer-container{height:800px;}
.hero-container{height:100%;background-repeat:no-repeat;background-position:bottom;background-size:contain;position:relative;}
/*.hero-container:before{content:"";width:280px;height:270px;position:absolute;left:65px;bottom:-95px;background-image:url('../images/hero-icon1.png');background-repeat:no-repeat;background-size:cover;background-position:center;}
.hero-container:after{content:"";width:175px;height:261px;position:absolute;right:275px;bottom:-47px;background-image:url('../images/hero-icon2.png');background-repeat:no-repeat;background-size:cover;background-position:center;}
*/.hero-content{padding-right:25px;}
.hero-content h1{font-size:40px;color:#ffc178;line-height:55px;margin-bottom:15px;}
.hero-content p{font-size:18px;line-height: 25px;margin-bottom: 35px;}
a.btn.hero-btn{background:#ffc178;color:#fff;font-weight:400;font-size:18px;min-width:220px;padding:15px 15px;}
.header-btn{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}


/* ==========================================
! Large devices (desktops, less than 1200px)
=========================================== */
@media (max-width: 1199.98px){
body{padding-top: 80px;} 
.navbar-brand {
    width: 65px;}
.navbar{padding:0 15px;width: 100%; height: 80px;}  
.navbar-toggler{width: 54px;height: 40px;height: 60px;order-radius: 0;cursor: pointer;text-decoration: none;padding: 0;border: 0;background: transparent;margin: 0;position: absolute;right: 0;top: 50%;z-index: 999; transform: translateY(-50%);}
.navbar-default .navbar-toggler:hover,.navbar-default .navbar-toggler:focus {background: transparent;}
.navbar-toggler:not([class="collapsed"]),.navbar-toggler:not([class="collapsed"]):focus,.navbar-toggler:not([class="collapsed"]):hover {background: transparent;}
.navbar-toggler.collapsed,.navbar-toggler.collapsed:focus,.navbar-toggler.collapsed:hover {background: transparent;}
.home .navbar-toggler.collapsed,.home .navbar-toggler.collapsed:focus,.home .navbar-toggler.collapsed:hover {background: transparent;}
.navbar-toggler .navbar-toggler-icon {position: relative;display: inline-block;width: 30px;height: 3px;color: #243238;text-indent: -55px;margin-top: 0;background: transparent!important;transition: all .2s ease-out;-webkit-transition: all .2s ease-out;-moz-transition: all .2s ease-out;-ms-transition: all .2s ease-out;vertical-align: middle;}
.navbar-toggler .navbar-toggler-icon:before,.navbar-toggler .navbar-toggler-icon:after {content: '';width: 30px;height: 3px;    background: #ffc178;position: absolute;left: 0;transition: all .2s ease-out;}
.navbar-toggler.collapsed .navbar-toggler-icon {    background: #ffc178!important;}
.navbar-toggler.collapsed .navbar-toggler-icon:before,.navbar-toggler.collapsed .navbar-toggler-icon:after { background: #ffc178;}
.navbar-toggler.collapsed .navbar-toggler-icon:before {top: -10px;-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform: rotateZ(0deg);}
.navbar-toggler .navbar-toggler-icon:before { top: 0; -webkit-transform: rotateZ(45deg); -moz-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); -o-transform: rotateZ(45deg); transform: rotateZ(45deg); }
.navbar-toggler.collapsed .navbar-toggler-icon:after {bottom: -10px;-webkit-transform: rotateZ(0deg);-moz-transform: rotateZ(0deg);-ms-transform: rotateZ(0deg);-o-transform: rotateZ(0deg);transform: rotateZ(0deg);}
.navbar-toggler .navbar-toggler-icon:after { bottom: 0; -webkit-transform: rotateZ(-45deg); -moz-transform: rotateZ(-45deg); -ms-transform: rotateZ(-45deg); -o-transform: rotateZ(-45deg); transform: rotateZ(-45deg); }
.header-right{position: relative;z-index: 999;margin-right: 50px;}
.navbar-collapse, .navbar-collapse.collapsing{position:fixed;top: 80px;left: 0;background: #999;padding: 0;z-index:99;margin:0;border:0;overflow-y:auto;bottom: 0;width: 100%;height:0;display: block !important;transition: all .3s cubic-bezier(0.77,0.2,0.05,1.0); }
.navbar .collapse.show{height: calc(100vh - 80px);}
.navbar-inside{height: calc(100vh - 80px);padding: 0 15px; display: flex;flex-flow: column;}
.navbar-expand-xl .navbar-nav .nav-item{padding: 0;margin: 0;border-bottom: solid 1px #ffc178;;}
.navbar-expand-xl .navbar-nav .nav-link{font-size: 16px;line-height: 30px;padding: 15px 0;position:relative;color: #fff;}
.navbar-nav.sm-collapsible .sub-arrow{border:0;margin: 0;width: auto;font-size: 30px;line-height: 60px;top: 0;height: 60px;color: #f00;width: 40px;}
.dropdown-menu{background:transparent;border:0;padding: 0;margin: 0 0 20px 0;}
.dropdown-item {padding: 7px 20px 7px 40px;}
.dropdown-item:focus, .dropdown-item:hover{color: #f00;background:transparent;}
.content-container{padding: 50px 0;}
.card-list{width:100%;margin-left:0;}
.grid-list{width:100%;margin-left:0;}
.card-item{padding:0 10px;}
.media-img{width:50%;padding-left:0;padding-top:0;}
.hero-container:before,.hero-container:after{content:none;}
}
/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width: 991.98px){
.footer-upper{background:#252c3a;padding:40px 0;}
.content-container.grid-container{padding:40px 0;}
.content-container.media-container{padding:40px 0;}
.card-item{width:50%;margin-bottom:20px;}
.media-img-inner{margin:auto;}
.media-img{width:100%;padding-left:0;padding-top:0;margin-bottom: 20px;}
.media-content{width:100%;padding-left:0;}
.grid-item{width:33.33%;}
.hero-outer-container{height:400px;}
.hero-content h1{font-size:22px;line-height:29px;margin-bottom:13px;}
.hero-content p{font-size:16px;line-height:23px;margin-bottom:28px;}
a.btn.hero-btn{font-size:16px;padding:10px 15px;}
.hero-content{padding-right:0;text-align:center;}
.media-img:before{content:none;}
}
/* =================================================  
 ! Small devices (landscape phones, less than 768px)
 ================================================= */
@media (max-width: 767.98px){
.navbar-brand{width:50px;}
body{padding-top: 60px;}
.navbar{height: 60px;}
.navbar-collapse, .navbar-collapse.collapsing{top:60px;}
.navbar .collapse.show{height: calc(100vh - 60px);}
.navbar-inside{height: calc(100vh - 60px);}
.content-container{padding: 40px 0;}

.card-item{width:100%;margin-bottom:20px;padding:0;}
.media-img-inner{height:300px;width:300px;}
.media-img-inner:before{width:50px;height:50px;}
.media-content h4{font-size:22px;margin-bottom:7px;line-height:30px;}
.media-content p{font-size:16px;letter-spacing:0px;line-height:23px;margin-bottom:15px;}
.media-content small{font-size:15px;line-height:23px;margin-bottom:30px;}
.media-content-box{font-size:30px;}
.media-content-box span{font-size:14px;}
.grid-container h3{margin-bottom:40px;font-size:25px;}
.grid-item{width:50%;margin-bottom: 15px;}
.grid-text h6{font-size:14px;line-height:20px;}
.grid-btn{font-size:12px;}
.footer-lower{padding:10px 0;}
.footer-nav{text-align:center;width:100%;justify-content:center;}
.footer-upper h6{margin-bottom:15px;}
.footer-upper p{margin-bottom:8px;font-size:13px;}
.heading h2{font-size:25px;}
.heading p{font-size:14px;}
.heading{margin-bottom:30px;}
.card-box h6{margin-bottom:0;font-size:18px;}

}
/* ======================================================
 ! Extra small devices (portrait phones, less than 576px)
 ====================================================== */
@media (max-width: 575.98px){
li.media-content-item{width:100%;margin-bottom:15px;}
.media-content-box{font-size:25px;text-align:center;}
.grid-item{width:100%;padding:0;}
a.footer-link{padding:0 4px;font-size:10px;}
.copyright{font-size:10px;text-align:center;width:100%;}
}

 




